.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #f1efec;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #123458;
}

p {
  font-size: 2rem;
  color: #123458;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}
button {
  color: white;
  background-color: #123458;
  padding: 12px;
  margin-left: 680px;
  margin-top: 10%;
  border-radius: 10px;
}

footer {
  margin-top: 13%;
  color: #040303;
  text-align: center;
  font-family: "Indie Flower", cursive;
}
